<!-- here must display the question you ask the coach as well as his answer-->
<h1>Stupid Coaching!</h1>


<div class="card">
  <div class="card-body">
    <h3><%= @question  %></h3>
  </div>
</div>



<h5> -You </h5>

<div class="card">
  <div class="card-body">
    <h3><%= @answer  %></h3>
  </div>
</div>



<h5>-Your Coach</h5>

<%= link_to "Ask a new question!", '/ask' %>
