<!-- here must display the question you ask the coach as well as his answer-->
<p><%= @question  %></p>

<p> You </p>

<p><%= @answer  %></p>

<p>This is the coach speaking!</p>

<%= link_to "Ask a new question!", '/ask' %>
