
<div id="card">
  <form action="answer" method='get' class='answer'>
    <input type="text" name="question" class='question'>
    <button type="submit" class="btn btn-primary">Ask me!</button>
  </form>
</div>
